html
  min-height 100%

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  box-sizing border-box

body
  height 100%
  overflow-y auto
  overflow-x hidden
  margin 0
  padding-bottom 10vw
  
.hidden
	display none
	opacity 0
 
.Logo {
  position: fixed;
  left: unit3;
  top: 100px;
  transform: rotate(-90deg);
  font-weight: bold;
} 
.GitHubLink {
  text-indent: -999999px;
  height: unit4;
  width: unit4; 
  background: url("https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png")
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: unit8;
  right: unit8;
  z-index: 999999;
}
.GlobalNav {
  position: absolute;
  top: unit4;
  left: unit4;
  
}
.GlobalNav ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: typeface-secondary;
  font-size: 1rem;
  display: none;
}
.GlobalNav ul li {
  display: inline-block;
  margin-right: unit2;
}
@media laptop {
  .GlobalNav {
    left: 9vw;
  }
}
.ColumnLeft {
  margin: unit4;
  width: 100%;  
}
@media laptop {
  .ColumnLeft {
    margin: 9vw;
    width: 40%;
  }
}
.Intro {
  min-height: calc(100vh - unit4);
  position: relative;
}
@media laptop {
  .Intro {
    min-height: calc(100vh - 18vw);
    width: 60%;
    margin-left: 30%;
  }
}
.Intro h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
code {
  width: 100%;
  height: 400px;
  display: block;
  background: black;
}