.blocksplayground {
  width: 50%;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 0px;
}
.blockshape {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 30px;
  position: absolute;
  top: -200px;
}
.blockpixel {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  box-sizing: border-box;
  position: absolute;
  background: black;
}

// BLOCK1

.block1 {
  width: 60px;
  height: 60px;
}
.block1 .blockpixel:nth-child(2) {
  left: 30px;
}
.block1 .blockpixel:nth-child(3) {
  top: 30px;
}
.block1 .blockpixel:nth-child(4) {
  left: 30px;
  top: 30px;
}

// BLOCK2

.block2 {
  width: 30px;
  height: 150px;
}
.block2 .blockpixel:nth-child(2) {
  top: 30px;
}
.block2 .blockpixel:nth-child(3) {
  top: 60px;
}
.block2 .blockpixel:nth-child(4) {
  top: 90px;
}
.block2 .blockpixel:nth-child(5) {
  top: 120px;
}
.block2 .blockpixel:nth-child(6) {
  top: 150px;
}

// BLOCK3

.block3 {
  width: 90px;
  height: 60px;
}
.block3 .blockpixel:nth-child(1) {
  top: 30px;
}
.block3 .blockpixel:nth-child(2) {
  top: 30px;
  left: 30px;
}
.block3 .blockpixel:nth-child(3) {
  left: 30px;
}
.block3 .blockpixel:nth-child(4) {
  left: 60px;
  top: 30px;
}

// BLOCK4

.block4 {
  width: 60px;
  height: 90px;
}
.block4 .blockpixel:nth-child(1) {
  left: 30px;
}
.block4 .blockpixel:nth-child(2) {
  top: 30px;
}
.block4 .blockpixel:nth-child(3) {
  left: 30px;
  top: 30px;
}
.block4 .blockpixel:nth-child(4) {
  top: 60px;
}

// BLOCK5

.block5 {
  width: 120px;
  height: 60px;
}
.block5 .blockpixel:nth-child(2) {
  top: 30px;
}
.block5 .blockpixel:nth-child(3) {
  top: 30px;
  left: 30px;
}
.block5 .blockpixel:nth-child(4) {
  top: 30px;
  left: 60px;
}
.block5 .blockpixel:nth-child(5) {
  top: 30px;
  left: 90px;
}