// COLOR 

light-text-color=   hsl(0, 0%, 80%)
brand-red-color= 	#DC4405

color-black=		#000
color-white=		#fff
color-red=			#dc4405

color-spectrum1=	#1D00FF
color-spectrum2=	#951395
color-spectrum3=	#F6005A
color-spectrum4=	#FFDF00
color-spectrum5=	#E80988

// TYPE

typeface-primary= Times, serif
typeface-secondary= Arial, sans-serif

// BREAKPOINTS

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 62em)"
desktop =					"(min-width: 75em)"
bigscreen =					"(min-width: 90em)"


// SPACING

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
